{% extends 'base.html' %}
{% block title %}History | {% endblock %}
{% set headerTitle = "Image Forgery History" %}

{% block content %}
    <div class="container-fluid">
        <div class="vstack gap-6">
            <div class="d-flex flex-column flex-lg-row gap-3 justify-content-between">
                <div class="input-group input-group-sm input-group-inline">
                    <span class="input-group-text pe-2">
                    <i class="bi bi-search"></i>
                    </span>
                    <input type="hidden" name="input_dir" id="input_dir" value="{{app.config['INPUT_DIR']}}">
                    <input type="hidden" name="output_dir" id="output_dir" value="{{app.config['OUTPUT_DIR']}}">
                    <input id="searchInput" type="text" class="form-control" placeholder="Search" aria-label="Search">
                </div>
            </div>
            <div class="row g-6" id="lightgallery">
                {% for item in data %}
                    <div class="col-xl-3 col-sm-6" onclick="showHistoryDetail('{{item.input}}', '{{item.output}}', '{{item.output_type}}', '{{item.action}}')">
                        <div class="card border-0 shadow shadow-4-hover cursor-pointer">
                            <div class="p-2 square-container">
                                <div class="d-flex justify-content-center content">
                                    <div class="max-w-full">
                                        <img class="img-fluid rounded-3 object-fit-cover w-full h-full" alt="..." src="{{ app.config['INPUT_DIR']+'/'+item.input }}" />
                                    </div>
                                </div>
                            </div>
                            <div class="px-4 pt-2 pb-4">
                            <h6 class="font-bold mb-2">{{ item.action }}</h6>
                            <div class="d-flex align-items-center">
                                <div class="text-xs text-muted">
                                <i class="bi bi-lock me-1"></i>Public
                                </div>
                                <div class="text-xs text-muted ms-auto">
                                {{ item.timestamp | humanize}}
                                </div>
                            </div>
                            <span class="d-block"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if data|length == 0 %}
                    <div class="col-12">
                        <div class="card border-0 shadow">
                            <div class="p-2 h-96">
                                <div class="d-flex justify-content-center content">
                                    <div class="max-w-full">
                                        <img class="img-fluid rounded-3 object-fit-cover w-full h-full" alt="..." src="{{ url_for('static', filename='images/no_data_found.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="modal" id="modal_detailed" tabindex="-1" aria-labelledby="modal_detailed" aria-hidden="true">
            <div class="modal-xl modal-dialog modal-dialog-centered">
              <div class="modal-content shadow-4">
                <div class="modal-body">
                  <div class="text-center py-5 px-5">
                    <h3 class="mt-7 mb-4" id="actionTitle">Action</h3>
                    <div class="row g-6 justify-content-around">
                        <div class="col-xl-4 col-sm-6">
                            <div class="card border-0 shadow">
                                <div class="p-2">
                                  <div class="card shadow-none border-2 border-dashed position-relative square-container">
                                    <div class="d-flex justify-content-center content">
                                      <div id="modal_uploaded_image">
                                        <img id="modal_preview_image" class="img-fluid rounded-3 w-full h-full" onerror="this.style.display='none'" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="px-4 pt-2 pb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="text-xs text-muted">
                                            <h6 class="font-bold mb-2 text-center text-ellipsis" id="modal_input_title">Input</h6>
                                        </div>
                                        <div class="text-xs text-muted ms-auto">
                                          <a id="modal_input_download" href="#" download="">
                                            <img src="{{ url_for('static', filename='images/icons/download.svg') }}" class="h-5 cursor-pointer" alt="...">
                                          </a>
                                        </div>
                                    </div>
                                  <span class="d-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="card border-0 shadow">
                                <div class="p-2">
                                  <div class="card shadow-none border-2 border-dashed position-relative square-container">
                                    <div class="d-flex justify-content-center content">
                                      <div id="modal_output_content" class="max-w-full">
                                        <div class="text-center h-full d-flex flex-column justify-content-center">
                                          <div class="d-flex justify-content-center text-sm mt-3 overflow-auto">
                                            <p class="font-semibold max-w-full" id="modal_output_content_heading">Output will be shown here!</p>
                                          </div>
                                          <p class="text-xs text-gray-500" id="modal_output_content_subheading">
                                            Please select any option to see output
                                          </p>
                                        </div>
                                      </div>
                                      <div id="modal_output_image" class="max-w-full">
                                        <img id="modal_preview_output_image" class="img-fluid rounded-3 w-full h-full" onerror="this.style.display='none'" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="px-4 pt-2 pb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="text-xs text-muted">
                                            <h6 class="font-bold mb-2 text-center text-ellipsis" id="modal_output_title">Output</h6>
                                        </div>
                                        <div class="text-xs text-muted ms-auto">
                                            <a id="modal_output_download" href="#" download="">
                                            <img src="{{ url_for('static', filename='images/icons/download.svg') }}" class="h-5 cursor-pointer" alt="...">
                                          </a>
                                        </div>
                                    </div>
                                    <span class="d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
